<table>
    <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Proviser Speciality </th>
        </tr>
    </thead>
    <tbody>
        <% results.forEach(row =>{%
            <tr>
                <td> <%= row.first_name %> </td>
                <td> <%= row.last_name %> </td>
                <td> <%= row.proviser_speciality %> </td> 
            </tr>
        <%
        });%>
    </tbody>
</table>

